
.App {
  box-sizing: border-box;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.debug{
  border: solid red 1px;
}

.content {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  gap: 10px;
 
  
}

.tableContainer {
  margin-right: 2em;
  margin-bottom: 5em;

}

.formContainer{
  height: 50vh;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.card{
  width: 300px;
  margin: 0 auto;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.submitButton{
  display: flex;
  justify-content: center;
  margin: 1em 0em 0em 0em;
}

.actionContainer{
  display: flex;
}

.editContainer button:hover{
  background-color: #585d61;
  cursor: pointer;
  
}

.deleteContainer button:hover{
  background-color: #ad2331;
  cursor: pointer;
}

tbody tr:hover {
  background-color: #959ea6;
  color: white;
  
}

.linkButton{
  text-decoration: none;
  
  color: white;

  border-radius: 2px;
}

.editButton{
  background-color: #6D757D;
  padding: 5px 10px;
  margin-bottom: 3px;
  font-size: 12px;
}

.deleteButton{
  background-color: #DC3545;
  padding: 5px 4px;
  font-size: 12px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

